li {
  will-change: filter;
  transition: filter 300ms;
}
li:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
li:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
li:hover {
  border-color: #646cff;
}
li:focus,
li:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
